
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

 body { 
    background-color: #e3e3e3
}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

header .btn-contato button, .hero-site button, .gatos button {
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
header .btn-contato button:hover, .hero-site button:hover, .gatos button:hover{
    background-color: #fff;
    color: #000;

}

/* ESTILO DO HEADER */

header{
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 40px;

}

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}
header .menu-desktop nav ul li a{
       color: #fff;
       text-decoration: none;
       display: inline-block;
       transition: 0.2s;
}

.menu-desktop nav a:hover{
    transform: scale(1.05);


}

header .btn-contato button{
    width: 140px;
    height: 50px;

}   



/* Estilo do Hero */
section.hero-site{
    height: 98vh;
    background-image: url(../img/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;

}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 70%;

}
.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}
.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}
.hero-site .txt-hero p{
    display: block;
}
.hero-site button{
    width: 220px ;
    height: 60px;
    font-size: 20px;
}

/* Estilo das Vantagens */
section.vantagens{
     padding: 80px 0;
}
.vantagens .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}
.vantagens .itens-container .img-itens img{
    max-width: 420px;
}
.vantagens .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;

}
.itens-container .txt-itens h3 span{
    font-weight: 300;
    
}
/* Estilo dos Botões de Contato */
section.Contato{
    background-color: #fff;
    padding: 80px 0;

}
.txt-contato, .icons-contato{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}
.Contato .txt-contato h3{
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;

}
.Contato .txt-contato h3 span{
    display: block;
    font-weight: 700;
}

.Contato .icons-contato a{
    text-decoration: none;
}

.Contato .icons-contato button{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: 60;
    margin: 0 auto 20px auto;
    padding: 0 60px;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;

    transition: .5s;
}
.Contato .icons-contato button i{
    font-size: 20px;
}
.Contato .icons-contato button:hover{
    background-color: #000;
}
.Contato .icons-contato button:hover i{
    color: #fff;
}
.Contato .icons-contato button:hover i, .Contato .icons-contato button:hover p{
    color: #fff;
}
/* Estilo da Sessão dos gatinhos */
section.gatos{
    height: 600px;

    background-image: url(../img/gato\ 3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    color: #fff;
    text-align: center;

}

.gatos > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000b9;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.gatos > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}
.gatos h3{
    font-size: 3em;
    line-height: 50px;

}
.gatos h3 span{
    display: block;

}
.gatos button{
    width: 220px;
    height: 60px;
}
